http_interactions:
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/geo;alb;mng/indicator/SP.POP.TOTL?date=2005%3A2007&footnote=n&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 13 Sep 2025 01:09:42 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":9,"sourceid":"2","lastupdated":"2025-07-01"},[{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"AL","value":"Albania"},"countryiso3code":"ALB","date":"2007","value":2970017,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"AL","value":"Albania"},"countryiso3code":"ALB","date":"2006","value":2992547,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"AL","value":"Albania"},"countryiso3code":"ALB","date":"2005","value":3011487,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"GE",[...]
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/geo;alb;mng/indicator/NY.GDP.MKTP.CD?date=2005%3A2007&footnote=n&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 13 Sep 2025 01:09:43 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":9,"sourceid":"2","lastupdated":"2025-07-01"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (cu[...]
