http_interactions:
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/wld/indicator/SP.POP.TOTL?date=2010%3A2014&footnote=n&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 13 Sep 2025 01:09:47 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":5,"sourceid":"2","lastupdated":"2025-07-01"},[{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2014","value":7354183367,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2013","value":7265970522,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2012","value":7176968877,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2011","value":7087120034,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2010","value":7001266876,"unit":"","obs_status":"","decimal":0}]]'
  recorded_at: 2025-09-13 01:31:34
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/wld/indicator/NY.GDP.MKTP.CD?date=2010%3A2014&footnote=n&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 13 Sep 2025 01:09:48 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":5,"sourceid":"2","lastupdated":"2025-07-01"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (current US[...]
