http_interactions:
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/bra/indicator/NY.GDP.MKTP.CD?date=2006%3A2006&footnote=y&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Sat, 13 Sep 2025 01:09:30 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":1,"sourceid":"2","lastupdated":"2025-07-01"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (current US$)"},"country":{"id":"BR","value":"Brazil"},"countryiso3code":"BRA","date":"2006","value":1107626541434.92,"unit":"","obs_status":"","decimal":0,"footnote":""}]]'
  recorded_at: 2025-09-13 01:31:28
recorded_with: VCR-vcr/2.0.0
