http_interactions:
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/bra;chl;mex/indicator/SP.POP.TOTL?date=2006%3A2006&footnote=y&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Thu, 30 Jul 2026 16:32:00 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":3,"sourceid":"2","lastupdated":"2026-07-13"},[{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"BR","value":"Brazil"},"countryiso3code":"BRA","date":"2006","value":186653106,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"CL","value":"Chile"},"countryiso3code":"CHL","date":"2006","value":16509195,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"MX","value":"Mexico"},"countryiso3code":"MEX","date":"2006","value":107253666,"unit":"","obs_status":"","decimal":0,"footnote":""}]]'
  recorded_at: 2026-07-30 16:32:00
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/bra;chl;mex/indicator/NY.GDP.MKTP.CD?date=2006%3A2006&footnote=y&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Thu, 30 Jul 2026 16:32:23 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":3,"sourceid":"2","lastupdated":"2026-07-13"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (current US$)"},"country":{"id":"BR","value":"Brazil"},"countryiso3code":"BRA","date":"2006","value":1107626541434.92,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (current US$)"},"country":{"id":"CL","value":"Chile"},"countryiso3code":"CHL","date":"2006","value":153843518170.864,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (current US$)"},"country":{"id":"MX","value":"Mexico"},"countryiso3code":"MEX","date":"2006","value":1020265057882.01,"unit":"","obs_status":"","decimal":0,"footnote":""}]]'
  recorded_at: 2026-07-30 16:32:23
recorded_with: VCR-vcr/2.1.0
