http_interactions:
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/wld/indicator/SP.POP.TOTL?date=2010%3A2014&footnote=n&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Fri, 14 Aug 2026 08:44:51 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":5,"sourceid":"2","lastupdated":"2026-07-13"},[{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2014","value":7353532223,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2013","value":7265404737,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2012","value":7176482165,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2011","value":7086704141,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"1W","value":"World"},"countryiso3code":"WLD","date":"2010","value":7000860073,"unit":"","obs_status":"","decimal":0}]]'
  recorded_at: 2026-08-14 08:57:33
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/wld/indicator/NY.GDP.MKTP.CD?date=2010%3A2014&footnote=n&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Fri, 14 Aug 2026 08:44:52 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":5,"sourceid":"2","lastupdated":"2026-07-13"},[{"indicator":{"id":"NY.GDP.MKTP.CD","value":"GDP
        (current US[...]
