http_interactions:
- request:
    method: GET
    uri: https://api.worldbank.org/v2/en/country/LCN;NA;MEA;SSF;ECS;EAS;SAS;NAC/indicator/SP.POP.TOTL?date=2010%3A2014&footnote=y&cntrycode=y&per_page=20000&format=json
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      last-modified: Fri, 14 Aug 2026 08:44:19 GMT
    body:
      string: '[{"page":1,"pages":1,"per_page":20000,"total":40,"sourceid":"2","lastupdated":"2026-07-13"},[{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"Z4","value":"East Asia & Pacific"},"countryiso3code":"EAS","date":"2014","value":2284385542,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"Z4","value":"East Asia & Pacific"},"countryiso3code":"EAS","date":"2013","value":2267072102,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"SP.POP.TOTL","value":"Population,
        total"},"country":{"id":"Z4","value":"East Asia & Pacific"},"countryiso3code":"EAS","date":"2012","value":2249081393,"unit":"","obs_status":"","decimal":0,"footnote":""},{"indicator":{"id":"SP.POP.TOTL"[...]
